@use 'fonts';
@use '../consts/variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: v.$secondaryColor;
}

.error {
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
  color: white;
}