@use '../../consts/variables' as v;

.overlay {
  display: none;

  &.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 40;
    background-color: rgba(41, 41, 41, 0.6);

    &:hover {
      cursor: pointer;
    }
  }
}

.modal-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 500;
  max-width: 400px;
  width: 100%;

  @media (max-width: 500px) {
    max-width: 230px;
  }

  &__btn {
    align-self: flex-end;
    position: absolute;
    top: -55px;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 2px solid v.$mainColor;
    border-radius: 100px;
    transition: all ease-in-out 0.2s;

    &:hover {
      background-color: v.$mainColor;
      border-color: v.$mainColor;
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    height: 100px;
    padding: 10px;
    max-width: 375px;
    width: 100%;
    column-gap: 30px;
    border-radius: 9px;
    background-color: v.$headerColor;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }
}